
<app-uploader [multiple]="true" (filesLoaded)="onFilesLoaded($event)" mode="DRAG_DROP" [group]="form" *ngIf="previewImages.length == 0 && preloadedImages.length == 0"></app-uploader>
<div class="preview-content" *ngIf="previewImages.length > 0 || preloadedImages.length > 0">
  <ul>
    <li>
      <app-uploader (filesLoaded)="onFilesLoaded($event)" mode="BOX" [group]="form" *ngIf="previewImages.length > 0 || preloadedImages.length > 0"></app-uploader>
    </li>
    <li *ngFor="let image of previewImages; let i = index;">
      <div class="close">
        <mat-icon [matMenuTriggerFor]="menu" color="accent">more_vert</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deleteUploadedItem(i)">
            <span>{{'Eliminar' | translate}}</span>
          </button>
        </mat-menu>
      </div>
      <div class="image" [style.background-image]="'url('+image.preview+')'"></div>
    </li>
    <li *ngFor="let image of preloadedImages; let i = index;">
      <div class="close">
        <mat-icon [matMenuTriggerFor]="menu" color="accent">more_vert</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <span>{{'Predeterminado' | translate}}</span>
          </button>
          <button mat-menu-item (click)="deleteStoredItem(i)">
            <span>{{'Eliminar' | translate}}</span>
          </button>
        </mat-menu>
      </div>
      <div class="image" [style.background-image]="'url('+staticsService.getTinyPicUrl(image.url)+')'"></div>
    </li>
  </ul>
</div>
