<div class="points-content" [formGroup]="routeGroup">

  <div class="markers-content">
    <mat-icon>radio_button_unchecked</mat-icon>
    <div class="sep"></div>
    <div *ngFor="let point of middlePoints.controls; let i=index" style="display: flex; flex-direction: column; align-items: center;">
      <mat-icon>radio_button_unchecked</mat-icon>
      <div class="sep"></div>
    </div>
    <mat-icon class="add-point-circle" *ngIf="routeGroup.value.origin.name && routeGroup.value.destination.name">add_circle_outline</mat-icon>
    <div class="sep" *ngIf="routeGroup.value.origin.name && routeGroup.value.destination.name"></div>
    <mat-icon>radio_button_checked</mat-icon>
  </div>

  <div class="inputs-content">
    <mat-form-field color="accent" floatLabel="never">
      <input type="text" matInput placeholder="{{'Elije un origen' | translate}}"
             required [matAutocomplete]="autoGroupO" name="origin"
             formControlName="origin" (keyup)="search($event)" (blur)="onLeave($event, 'origin')"
      />
      <mat-autocomplete #autoGroupO="matAutocomplete" [displayWith]="displayFn" (optionSelected)="setPoint($event, 'origin')" class="points-autocomplete">
        <mat-option *ngIf="acLoading">
          <mat-spinner class="spinner-loader" [diameter]="32" [mode]="indeterminate"></mat-spinner>
        </mat-option>
        <mat-optgroup *ngFor="let group of options" [label]="group.type | translate">
          <mat-option *ngFor="let option of group.points" [value]="option">{{option.name}}</mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>

    <div formArrayName="middle_points">
      <div *ngFor="let point of middlePoints.controls; let i=index" class="middle-point" [formGroupName]="i">
        <mat-form-field color="accent" floatLabel="never">
          <input type="text" matInput placeholder="{{'Elije un punto' | translate}}"
                 [matAutocomplete]="autoGroup" name="name" formControlName="name"
                 [id]="'input-'+i" (keyup)="search($event)"
          />
          <mat-icon class="delete-point" matSuffix (click)="deletePoint(point.value.type, i)">close</mat-icon>
          <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)="setMiddlePoint($event, i)">
            <mat-option *ngIf="acLoading">
              <mat-spinner class="spinner-loader" [diameter]="32" [mode]="indeterminate"></mat-spinner>
            </mat-option>
            <mat-optgroup *ngFor="let group of options" [label]="group.type | translate">
              <mat-option *ngFor="let option of group.points" [value]="option">{{option.name}}</mat-option>
            </mat-optgroup>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <div (click)="addPoint()" class="add-point" *ngIf="routeGroup.value.origin.name && routeGroup.value.destination.name">
      <span>{{'Añade un lugar o haz click en el mapa' | translate}}</span>
    </div>

    <mat-form-field color="accent" floatLabel="never">
      <input type="text" matInput placeholder="{{'Elije un destino' | translate}}" required
             [matAutocomplete]="autoGroupD" name="destination"
             formControlName="destination" (keyup)="search($event)" (blur)="onLeave($event, 'destination')"
      />
      <mat-autocomplete #autoGroupD="matAutocomplete" [displayWith]="displayFn" (optionSelected)="setPoint($event, 'destination')">
        <mat-option *ngIf="acLoading">
          <mat-spinner class="spinner-loader" [diameter]="32" [mode]="indeterminate"></mat-spinner>
        </mat-option>
        <mat-optgroup *ngFor="let group of options" [label]="group.type | translate">
          <mat-option *ngFor="let option of group.points" [value]="option">{{option.name}}</mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>

  </div>
</div>
