mat-form-field{
  width: 100%;
  height: 50px;
}

.add-point{
  color: #aaa;
  cursor: pointer;
  box-sizing: border-box;
  padding-top: 1rem;
  height: 50px;
}


.middle-point{

  mat-form-field.mat-form-field{
  }
}

.delete-point{
  cursor: pointer;
}

.points-content{
  display: flex;
  flex-direction: row;

  .markers-content{
    display: flex;
    flex-direction: column;
    padding-right: 16px;
    padding-top: 16px;
    align-items: center;

    .sep{
      width: 7px;
      height: 32px;
      overflow: hidden;
      line-height: 2px;
      margin-top: -4px;
      margin-bottom: 2px;

      &:after{
        content:". . . . . . . . . . . . ";
        letter-spacing: 0px; /* increase space between dots */
        font-size: 29px; /* increase size of dots */
        color: #bbb /* pick a color */
      }
    }

    mat-icon{
      font-size: 20px;
      color: #666666;
      height: 20px;
      width: 20px;
    }

    .add-point-circle{
      color: #bbb;
    }
  }

  .inputs-content{
    width: 100%;
  }
}
