<app-detail-header *ngIf="!loading" [disableBackButton]="!isDialog"
                    [title]="'usuarios encontrados'"
                    [isDialog]="isDialog"
                    class="detail-header-content"
                    (backButtonClicked)="goBack()"
                    navUrl="/users/new">
  <div class="button-container save-button">
    <button (click)="onButtonClick()">
      <mat-icon aria-label="New">add</mat-icon>
    </button>
  </div>
</app-detail-header>
<div class="app-container full-size body-content">

  <div [hidden]="loading">
    <app-common-list
      [list]="users$"
      [component]="drawingComponent"
      [hideFilter]="true"
      [activateSelectionMode]="isDialog"
      [storeToWatch]="'users'"
      (pageChanged)="onPageChanged($event)">

    </app-common-list>
  </div>
</div>
