<div class="login-container">
  <div class="image-container"></div>
  <hr/>
  <div class="login-form-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="form" #formDir="ngForm" novalidate>
      <div class="login-inputs-container">
        <p>{{bussy}}</p>
        <p *ngIf="errorLogin">{{errorLogin}}</p>
        <div class="app-container full-size body-content">
          <div class="box-container">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <mat-form-field color="accent" >
                  <input #location type="email" matInput placeholder="{{'email' | translate}}" required name="email" formControlName="email"/>
                  <mat-error *ngIf="form.get('email').hasError('required') && (form.get('email').dirty || form.get('email').touched)">{{'Campo requerido' | translate}}</mat-error>
                  <mat-error *ngIf="form.get('email').hasError('maxlength') && (form.get('email').dirty || form.get('email').touched)">{{'Campo requerido' | translate}}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-sm-6">
                <mat-form-field color="accent" >
                  <input #location type="password" matInput placeholder="{{'password' | translate}}" required name="password" formControlName="password"/>
                  <mat-error *ngIf="form.get('password').hasError('required') && (form.get('password').dirty || form.get('password').touched)">{{'Campo requerido' | translate}}</mat-error>
                  <mat-error *ngIf="form.get('password').hasError('maxlength') && (form.get('password').dirty || form.get('password').touched)">{{'Maximo de caracteres 50' | translate}}</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      <div class="login-buttons-container">
        <button type="submit" mat-button="mat-button"
                [disabled]="!form.get('email').value || !form.get('password').value">
          Signin
        </button>
        <button type="button" mat-button="mat-button">Signup</button>
      </div>
      </div>
    </form>
  </div>
</div>
