@import "../../../assets/variables";

.booking-filter-container {
  height: 100%;
  mat-form-field {
    width: 100%;
  }
}

.buttons-ctn {
  margin: 32px 16px;
}

.my-booking-filter{
  color: $gray-title;
  margin-top: 12px;
}
