<div class="booking-filter-container" >
  <mat-checkbox [(ngModel)]="myBookingFilter" (change)="onSelfToggle($event)">
    {{'Ver sólo mis Reservas' | translate}}
  </mat-checkbox>
  <mat-form-field color="accent">
    <input #route
           type="text" matInput placeholder="{{'Buscar' | translate}}" required
           name="name" (keyup)="onSearch(route.value)"
           [matAutocomplete]="autoGroup"
           (keyup.enter)="onEnter(route.value)" [(ngModel)]="searchString"/>
    <mat-icon (click)="onSearch(route.value)" matSuffix>search</mat-icon>
    <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)="onOptionSelected($event)" >
      <mat-option *ngFor="let option of options | async" [value]="option">{{option.name}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
