<div class="booking-filter-container" >

  <mat-form-field color="accent">
    <input #route
           type="text" matInput placeholder="{{'Ingrese el nombre del pasajero' | translate}}"
           name="bookingFilterName" (keyup)="onSearch(route.value)"
           [matAutocomplete]="autoGroup"
           (keyup.enter)="onEnter(route.value)" [(ngModel)]="searchString"/>
    <mat-icon (click)="onSearch(route.value)" matSuffix>search</mat-icon>
    <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)="onOptionSelected($event)" >
      <mat-option *ngFor="let option of options | async" [value]="option">{{option.name}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-slide-toggle class="my-booking-filter" [(ngModel)]="myBookingFilter" (change)="onSelfToggle($event)" color="primary">{{'Mis reservas' | translate}}</mat-slide-toggle>
</div>
