@import '../../../../assets/variables';

.image{
  background: no-repeat scroll center transparent;
  background-size: cover;
  height: 400px;
  width: 100%;
}

.link{
  color: $link-color;
  cursor: pointer;
  float: right;
  margin-top: 8px;
}
