<app-detail-header *ngIf="!loading" [disableBackButton]="!isDialog"
                   [title]="'cuentas encontradas'"
                   [isDialog]="isDialog"
                   class="detail-header-content"
                   (backButtonClicked)="goBack()"
                   navUrl="/accounts/new">
  <div class="button-container save-button">
    <button (click)="onButtonClick()">
      <mat-icon aria-label="New">add</mat-icon>
    </button>
  </div>
</app-detail-header>
<div class="app-container full-size body-content">

  <div [hidden]="loading">
    <app-common-list *ngIf="!loading"
      [list]="accounts$ | async"
      [component]="drawingComponent"
      [paginationMetadata]="paginationOptions"
      [activateSelectionMode]="isDialog"
      [storeToWatch]="'accounts'"
      (pageChanged)="onPageChanged($event)">

      <div class="empty-state col-xs-12 col-sm-6 col-sm-offset-3">
        <h2>Aun no has creado cuentas!!!</h2>
        <p>Las cuentas te permiten personalizar el look & feel de la aplicación para tus clientes, ej: colores, logo, etc.</p>
        <button mat-flat-button color="accent" (click)="onButtonClick()">Crear nuevo cuenta</button>
      </div>

    </app-common-list>
  </div>
</div>
