.common-list{
  margin-top: 76px;
  background: #F5F5F5;
  @media only screen and (max-device-width: 736px) {
    overflow: hidden;
    margin-top: 26px;
  }
}

.list-filters{
  margin-top: -37px;

  @media only screen and (max-device-width: 736px) {
    padding: 0 16px;
    margin-top: 0;
  }
}

.mat-paginator{
  background: none;
  margin-bottom: 80px;
}
