<div class="top-header" [class.dialog]="isDialog">
  <div class="app-container">
    <button mat-icon-button class="close-button" (click)="goBack($event)" *ngIf="!disableBackButton">
      <mat-icon aria-label="Go back">{{iconType}}</mat-icon>
    </button>
    <h1>{{title}}</h1>
    <div class="save-button" *ngIf="!navUrl">
      <button mat-button >SAVE</button>
    </div>
    <div class="float-button" *ngIf="navUrl">
      <a [routerLink]="navUrl" mat-fab >
        <mat-icon aria-label="New">add</mat-icon>
      </a>
      <span class="save-exit-label">New</span>
    </div>
  </div>
</div>
