@import '../../../assets/variables';

.top-header{
  background: $primary-color;
  position: sticky;
  top: 0px;
  z-index: 99;

  &.dialog{
    background: $secondary-color;
  }

  .app-container{
    height: 54px;
    display: flex;
    align-items: center;
  }

  .float-button{

    position: absolute;
    right: 20px;
    top: 24px;
    z-index: 9;
    text-align: center;

    .save-exit-label{
      display: block;
      margin-top: 8px;
      font-weight: 300;
      color: #666;

      @media only screen and (max-device-width: 736px) {
        display: none;
      }
    }
  }


  h1{
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: 500;
  }

  .close-button{

    margin-left: -12px;

    mat-icon{
      color: #fff;
    }
  }

  .save-button{
    display: flex;
    flex: auto;
    justify-content: flex-end;

    .mat-button{
      margin-right: -24px;
    }

    /deep/.mat-button-wrapper{
      color: #fff;
    }
  }


  @media only screen and (max-device-width: 736px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: 55px;

    h1{
      font-size: 20px;
    }
  }
}
