
<div class="event-cluster" [class.edit-mode]="editMode">
  <div class="vertical-line" [style.border-color]="data.color"></div>
  <div class="icon-ctn" [style.border-color]="data.color">
    <mat-icon [style.color]="data.color">directions_car</mat-icon>
  </div>
  <div class="summary-ctn">
    <h5>{{data.name}}</h5>
    <p>{{data.description}}</p>
    <div class="location" *ngIf="data.product.origin">
      Sale: {{data.product.origin.name}}
    </div>
    <div *ngIf="!data.product.origin">
      <app-add-event (openedDialog)="openDialog($event, 'origin')">
        <div class="add-event-cluster">+Añadir lugar de salida</div>
      </app-add-event>
    </div>
    <div class="location" *ngIf="data.product.destination">
      Llega: {{data.product.destination.name}}
    </div>
    <div *ngIf="!data.product.destination">
      <app-add-event (openedDialog)="openDialog($event, 'destination')">
        <div class="add-event-cluster">+Añadir lugar de llegada</div>
      </app-add-event>
    </div>
  </div>
  <div class="menu">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="onRemoveEvent(data._id)" mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>{{'Eliminar' | translate}}</span>
      </button>
    </mat-menu>
  </div>
</div>

