.loading-bkg{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  background: rgba(255, 255, 255, 0.9);
  top: 0;
  left: 0;

  .spinner{
    position: relative;
    top: 30%;
    left: 50%;
  }
}
