<div class="header" mat-dialog-title>
  <span>{{'Tutorial' | translate}}</span>
</div>

<mat-dialog-content class="mat-typography dialog-content">
  <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQ4iy_z_Myn9sztn8YVyYH6g8SE82a5cbV21SdQREywGmZnuJQQ25ZgqdKHCBpf4HJtVyef0x58h59C/embed?start=false&loop=false&delayms=3000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</mat-dialog-content>

<mat-dialog-actions align="end" class="footer">
  <button mat-button cdkfocusinitial mat-dialog-close>{{'Entendido' | translate}}</button>
</mat-dialog-actions>
