<div class="location-desc" [formGroup]="placeForm">

  <mat-form-field color="accent" >
    <input #location type="text" matInput placeholder="{{'Nombre' | translate}}" required name="name" formControlName="name"/>
    <mat-error *ngIf="placeForm.get('name').invalid && (placeForm.get('name').dirty || placeForm.get('name').touched)">{{'Campo requerido' | translate}}</mat-error>
  </mat-form-field>

  <mat-form-field color="accent">
    <mat-select placeholder="{{'Tipo de punto' | translate}}" name="type" required formControlName="type">
      <mat-option [value]="pointType.value" *ngFor="let pointType of pointTypes">
        {{pointType.value | translate}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="placeForm.get('type').invalid && (placeForm.get('type').dirty || placeForm.get('type').touched)">{{'Campo requerido' | translate}}</mat-error>
  </mat-form-field>

  <mat-form-field color="accent">
    <textarea matInput placeholder="{{'Descripción' | translate}}" required name="description" formControlName="description"></textarea>
    <mat-error *ngIf="placeForm.get('description').invalid && (placeForm.get('description').dirty || placeForm.get('description').touched)">{{'Campo requerido' | translate}}</mat-error>
  </mat-form-field>


</div>
