<div class="location-desc row" [formGroup]="placeForm">

  <div class="col-xs-12 description-ctn">
    <h1>{{'Infomación básica' | translate}}</h1>
  </div>

  <mat-form-field color="accent" class="col-xs-12 col-sm-6">
    <input #location type="text" matInput placeholder="{{'Nombre' | translate}}" required name="placeName" formControlName="name"/>
    <mat-error *ngIf="placeForm.get('name').invalid && (placeForm.get('name').dirty || placeForm.get('name').touched)">{{'Campo requerido' | translate}}</mat-error>
  </mat-form-field>

  <mat-form-field color="accent" class="col-xs-12 col-sm-6">
    <mat-select placeholder="{{'Tipo de punto' | translate}}" name="type" required formControlName="type">
      <mat-option [value]="pointType.value" *ngFor="let pointType of pointTypes">
        {{pointType.viewValue | translate}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="placeForm.get('type').invalid && (placeForm.get('type').dirty || placeForm.get('type').touched)">{{'Campo requerido' | translate}}</mat-error>
  </mat-form-field>

  <div class="col-xs-12 description-ctn">
    <h1>{{'Descripción' | translate}}</h1>
    <p>{{'Agrega todos los idiomas que desees personalizar. No te preocupes por los otros, nosotros nos encargamos de traducirlos por ti' | translate}}</p>
  </div>

  <mat-tab-group *ngIf="tabController && availableLanguages" formGroupName="description" class="col-xs-12">
    <mat-tab *ngFor="let lang of getLanguages()">
      <ng-template mat-tab-label>
        {{lang | translate | uppercase }}
      </ng-template>
      <mat-form-field color="accent">
        <mat-label></mat-label>
        <textarea matInput placeholder="{{'Debes ingresar una descripción antes de agregar más idiomas' | translate}}" name="{{lang}}" formControlName="{{lang}}" maxlength="1000">
          {{placeForm.value.description[lang] ? placeForm.value.description[lang].text : ''}}
        </textarea>
        <mat-hint align="end" class="count">{{placeForm.value.description[lang].text ? placeForm.value.description[lang].text.length : 0}} / 1000</mat-hint>
      </mat-form-field>
    </mat-tab>
    <mat-tab [disabled]="!placeForm.value.description[defaultLanguage]" *ngIf="availableLanguages.length > 0">
      <ng-template mat-tab-label>
        <button [disabled]="!placeForm.value.description[defaultLanguage]" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>add</mat-icon>
        </button>
      </ng-template>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let lng of availableLanguages" (click)="getTranslation(lng)">{{lng | translate}}</button>
      </mat-menu>
    </mat-tab>
  </mat-tab-group>


</div>
