@import "../../../../assets/variables";

mat-form-field{
  width: 100%;
}

textarea{
  min-height: 161px;
}

.chars-left {
  height: 24px;
}

.location-desc{
  margin-bottom: 28px;
}

.icon-delete-tab {
  margin-left: 16px;
  float: right;
}

h3{
  color: $gray-title;
  font-size: 24px;
}

p{
  color: $gray-title;
}

