<div [formGroup]="form" class="row top-row">
  <div class="col-sm-4 col-xs-12">
    <h1>
      {{'Información básica' | translate}}
    </h1>
    <mat-form-field color="accent">
      <input type="text" #name matInput placeholder="{{'Nombre' | translate}}" name="name" formControlName="name" required/>
      <mat-error *ngIf="form.get('name').invalid && (form.get('name').dirty || form.get('name').touched)">{{'Campo requerido' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field color="accent">
      <textarea matInput
                placeholder="{{'Descripción' | translate}}"
                name="description"
                formControlName="description"
                cdkAutosizeMinRows="6"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"></textarea>
    </mat-form-field>
  </div>

</div>
