<div [formGroup]="form" class="box-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <mat-form-field color="accent">
        <input type="text" #name matInput placeholder="{{'Nombre de la reserva' | translate}}" name="name" formControlName="name" required/>
        <mat-error *ngIf="form.get('name').invalid && (form.get('name').dirty || form.get('name').touched)">{{'Campo requerido' | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field color="accent" >
        <input type="text" matInput placeholder="{{'Seleccionar cliente' | translate}}" required [matAutocomplete]="autoGroup" formControlName="account_id"/>
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="displayFn" [autoActiveFirstOption]="">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option.name}}</mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.get('account_id').invalid && (form.get('account_id').dirty || form.get('account_id').touched)">{{'Campo requerido' | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field color="accent">
        <input type="text" #name matInput placeholder="{{'Nombre del pasajero' | translate}}" name="passenger_name" formControlName="passenger_name" required/>
        <mat-error *ngIf="form.get('passenger_name').invalid && (form.get('passenger_name').dirty || form.get('passenger_name').touched)">{{'Campo requerido' | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field class="date start-date">
        <input matInput readonly (click)="startDatePicker.open()" [min]="minDate" [matDatepicker]="startDatePicker" placeholder="{{'Fecha de inicio' | translate}}" formControlName="start_date">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #startDatePicker></mat-datepicker>
        <mat-error *ngIf="form.get('start_date').errors && form.get('start_date').errors['required'] && (form.get('start_date').dirty || form.get('start_date').touched)">{{'Campo requerido' | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field class="date">
        <input matInput readonly (click)="endDatePicker.open()" [min]="minDate2" [matDatepicker]="endDatePicker" placeholder="{{'Fecha de finalización' | translate}}" formControlName="end_date">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #endDatePicker></mat-datepicker>
        <mat-error *ngIf="form.get('end_date').errors && form.get('end_date').errors['required'] && (form.get('end_date').dirty || form.get('end_date').touched)">{{'Campo requerido' | translate}}</mat-error>
        <mat-error *ngIf="form.get('end_date').errors && form.get('end_date').errors['matDatepickerMin'] && (form.get('end_date').dirty || form.get('end_date').touched)">{{'La fecha de finalización no puede ser menor a la de inicio' | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field color="accent">
        <input type="text" #name matInput placeholder="{{'Reserva de referencia' | translate}}" name="booking_reference" formControlName="booking_reference"/>
        <mat-error *ngIf="form.get('booking_reference').invalid && (form.get('booking_reference').dirty || form.get('booking_reference').touched)">{{'Campo requerido' | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field color="accent">
        <textarea matInput #description placeholder="{{'Observaciones' | translate}}" name="comment" formControlName="comment"></textarea>
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-6">
      <mat-slide-toggle color="primary" (change)="onToggleGPS()" [checked]="has_gps">With GPS</mat-slide-toggle>
      <div *ngIf="has_gps">
        <mat-form-field color="accent" >
          <input type="text" matInput placeholder="{{'Nombre/Número de dispositivo' | translate}}" required [matAutocomplete]="auto" formControlName="device_id"/>
          <mat-icon matSuffix>search</mat-icon>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" [autoActiveFirstOption]="">
            <mat-option *ngFor="let option of filteredDevices$ | async" [value]="option">{{option.name}}</mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="form.get('device_id').invalid && (form.get('device_id').dirty || form.get('device_id').touched)">{{'Campo requerido' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field color="accent" >
          <input type="text" matInput placeholder="{{'Lugar de retirada' | translate}}" required formControlName="pickup_point"/>
          <mat-error *ngIf="form.get('pickup_point').invalid && (form.get('pickup_point').dirty || form.get('pickup_point').touched)">{{'Campo requerido' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field color="accent" >
          <input type="text" matInput placeholder="{{'Lugar de entrega' | translate}}" required formControlName="dropoff_point"/>
          <mat-error *ngIf="form.get('dropoff_point').invalid && (form.get('dropoff_point').dirty || form.get('dropoff_point').touched)">{{'Campo requerido' | translate}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>

</div>
