.app-container{
}

.box-container{
  background: white;
  margin-top: 74px;
  border: 1px solid #DEDEDE;
  margin-bottom: 24px;
}

mat-form-field{
  width: 100%;
}

.color-picker-box{
  border: none;
  outline: none;
  width: 14px;
}

.color-picker-input{
  text-transform: uppercase;
}
