<form [formGroup]="form" #formDir="ngForm"  novalidate>
  <app-detail-header [isDialog]="popup"
                     [title]="'Actualizar ruta' | translate"
                     class="detail-header-content"
                     (backButtonClicked)="goBack()">
    <div class="more-options">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" overlapTrigger="false">
        <button mat-menu-item (click)="deleteRoute()">Eliminar</button>
      </mat-menu>
    </div>

    <div class="button-container save-button">
      <button (click)="onSubmit()">
        <mat-icon aria-label="New">save</mat-icon>
      </button>
      <span class="save-label">{{'Guardar y cerrar' | translate}}</span>
    </div>
  </app-detail-header>
  <div class="app-container full-size">
    <div class="box-container">
      <div class="row gallery-container">
        <div class="col-xs-12">
          <div>
            <h3>{{'Puntos de la ruta' | translate}}</h3>
            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <app-route-points [routeGroup]="form"
                                  (travelModeDisabled)="onDisableTravelMode($event)"></app-route-points>
              </div>
              <div class="col-sm-8 col-xs-12">
                <app-route-map [form]="form" [routeType]="_selectedRouteType"></app-route-map>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row bottom-row">
        <div class="col-sm-4 col-xs-12">
          <app-route-head [form]="form"
                          (routeTypeChanged)="onSelectionTypeChanged($event)"
                          [disabledRoutes]="_disabledModesOfTravel"></app-route-head>
        </div>
        <div class="col-sm-4 col-xs-12">
          <app-route-cover [form]="form"></app-route-cover>
        </div>
        <div class="col-sm-4 col-xs-12">
          <app-route-info [form]="form"></app-route-info>
        </div>
      </div>
    </div>
  </div>
</form>
