<form [formGroup]="form" #formDir="ngForm"  novalidate>
  <app-detail-header [isDialog]="popup"
                     [title]="'Actualizar ruta' | translate"
                     class="detail-header-content"
                     (backButtonClicked)="goBack()">
    <div class="button-container save-button">
      <button (click)="onSubmit()">
        <mat-icon aria-label="New">save</mat-icon>
      </button>
    </div>
  </app-detail-header>
  <div class="app-container full-size">
    <div class="box-container">
      <div class="row gallery-container">
        <div class="col-xs-12">
          <div>
            <h3>{{'Puntos de la ruta' | translate}}</h3>
            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <app-route-points [routeGroup]="form"></app-route-points>
              </div>
              <div class="col-sm-8 col-xs-12">
                <app-route-map [form]="form"></app-route-map>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row bottom-row">
        <div class="col-sm-4 col-xs-12">
          <app-route-head [form]="form"></app-route-head>
        </div>
        <div class="col-sm-4 col-xs-12">
          <app-route-cover [form]="form"></app-route-cover>
        </div>
        <div class="col-sm-4 col-xs-12">
          <app-route-info [form]="form"></app-route-info>
        </div>
      </div>
    </div>
  </div>
</form>
