@import "../../../assets/variables";

.bottom-row{
  margin-top: 24px;
  border-top: 1px solid #ccc;
  padding-top: 24px;
}


.header-container, .ttk-container, .cover-container{
  max-width: 590px;
}
