<app-detail-header *ngIf="!loading" [disableBackButton]="!isDialog"
                   [title]="paginationOptions.length + ' puntos encontrados'"
                   [isDialog]="isDialog"
                   class="detail-header-content"
                   (backButtonClicked)="goBack()"
                   navUrl="/places/new">
  <div class="button-container save-button">
    <button (click)="onButtonClick()">
      <mat-icon aria-label="New">add</mat-icon>
    </button>
  </div>
</app-detail-header>
<div class="app-container full-size body-content">
  <div [hidden]="loading">
    <app-common-list [list]="points$"
                     [component]="drawingComponent"
                     [activateSelectionMode]="isDialog"
                     [storeToWatch]="'points'"
                     (pageChanged)="onPageChanged($event)">
      <app-point-filters class="common-list-filters" (filterChanged)="onFilterChanged($event)"></app-point-filters>
    </app-common-list>
  </div>
</div>
