<div class="top-header">
  <div class="app-container">
    <h1>{{'Nueva Lista'}}</h1>
  </div>
</div>
<div class="app-container full-size body-content">
  <div class="save-button">
    <a routerLink="/places/new" mat-fab >
      <mat-icon aria-label="New">add</mat-icon>
    </a>
    <span class="save-exit-label">New</span>
  </div>

  <div [hidden]="loading">
    <app-common-list [list]="points$" [component]="drawingComponent" (pageChanged)="onPageChanged($event)">
      <app-point-filters class="common-list-filters"></app-point-filters>
    </app-common-list>
  </div>
</div>
