<app-detail-header *ngIf="!loading" [disableBackButton]="!isDialog"
                   [title]="'puntos encontrados' | translate: {value: paginationOptions.length}"
                   [isDialog]="isDialog"
                   class="detail-header-content"
                   (backButtonClicked)="goBack()"
                   navUrl="/places/new">
  <div class="button-container save-button">
    <button (click)="onButtonClick()">
      <mat-icon aria-label="New">add</mat-icon>
    </button>
  </div>
</app-detail-header>
<div class="app-container full-size body-content">
  <div [hidden]="loading">
    <app-common-list *ngIf="!loading"
                     [list]="points$ | async"
                     [component]="drawingComponent"
                     [paginationMetadata]="metadata$ | async"
                     [activateSelectionMode]="isDialog"
                     [storeToWatch]="'points'"
                     (pageChanged)="onPageChanged($event)">
      <app-point-filters class="common-list-filters" (filterChanged)="onFilterChanged($event)"></app-point-filters>
      <div class="empty-state col-xs-12 col-sm-6 col-sm-offset-3">
        <h2>Aun no hay nada aquí!!!</h2>
        <p>Crea destinos, puntos de interes, hoteles, etc y usalos para armar rutas y reservas</p>
        <button mat-flat-button color="accent" (click)="onButtonClick()">Crear nuevo lugar</button>
      </div>
    </app-common-list>
  </div>
</div>
