<div class="day-ctn">
  <div class="day-count">
    <h4>DAY 1 - Salta, Cafayate, Cachi</h4>
    <p>2 Routes, Hotel (1)night</p>
  </div>

  <ul class="event-list">
    <app-common-list
      [list]="selectedTemplateEvents$"
      [component]="drawingComponent"
      [storeToWatch]="'selectedTripTemplateEvents'"
      [hideFilter]="true"
      [hidePagination]="true"
      (pageChanged)="onPageChanged($event)">
    </app-common-list>
    <app-add-event [ordinal]="selectedTemplateEvents$.subscribe().length"></app-add-event>
  </ul>

</div>

<button mat-stroked-button color="accent" class="new-day">+ ADD NEW DAY</button>
