<div class="day-ctn">
  <div class="day-count">
    <h4>DAY 1 - Salta, Cafayate, Cachi</h4>
    <p>2 Routes, Hotel (1)night</p>
  </div>

  <ul class="event-list">
    <li>
      <div class="event-cluster">
        <div class="icon-ctn">
          <div class="tg-icon-driving"></div>
          <div class="bottom-text">
            <div class="large-text">
              <span class="text">100</span><span class="small-text">km</span>
            </div>
            <span class="small-text">driving</span>
          </div>
        </div>
        <div class="divisor"></div>
        <div class="summary-ctn">
          <h5>Salta to Cafayate</h5>
          <p>From Salta to Cafayate</p>
          <p class="extra-info">Estimated time 4:00 hs</p>
        </div>
        <div class="menu">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voicemail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </li>

    <li class="new-event">
      <div class="event-cluster">
        <div class="icon-ctn" (click)="showOptions()">
          <div class="bottom-text">
            <div class="add-icon" [@addEventState]="'add-'+state">+</div>
            <span class="small-text">{{addEventText[state]}}</span>
          </div>
        </div>
        <div class="divisor"></div>
        <div class="product-event">
          <div [@addEventState]="state" class="option-ctn">
            <div class="summary-ctn" (click)="showOptions()">
              <div>
                <h5>Añadir nuevo evento para este día</h5>
                <p class="extra-info">Elige entre una actividad, hotel o recorrido en automovil</p>
              </div>
            </div>
            <ul>
              <li (click)="openDialog(producType.value)" *ngFor="let producType of productTypes">
                <div class="product-icon">
                  <div class="tg-icon-{{producType.value.toLowerCase()}}"></div>
                </div>
                <p>{{producType.viewValue}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  </ul>

</div>

<button mat-stroked-button color="accent" class="new-day">+ ADD NEW DAY</button>
