@import '../../../../assets/variables';

.days-list{

  @media only screen and (min-width: 736px) {
    height: 500px;
    overflow-y: auto;
  }
}

.day-ctn{
  position: relative;
}

.itinerary-header{
  padding-top: 8px;
  display: flex;
  align-items: baseline;
  background: #fff;

  @media only screen and (max-device-width: 736px) {
    position: sticky;
    top: 50px;
    z-index: 9;
  }
}

.itinerary-buttons{
  display: flex;
  align-items: center;
  flex: auto;
  justify-content: flex-end;
}

.day-count {
  position: sticky;
  background: #fff;
  margin: 34px 0 24px 0;
  top:0;
  z-index: 8;
  padding: 8px 0;

  .horizontal-divisor{
    border-bottom: 1px solid rgba(0,0,0,0.12);
    position: absolute;
    left: 0;
    width: 100%;
    top: 19px;
  }

  h4 {
    color: $gray-title;
    font-weight: 500;
    margin-bottom: 0;
    position: relative;
    background: #fff;
    display: inline-block;
    padding-right: 8px;
    font-size: 16px;
  }
  p {
    color: #7F848C;
  }
}

.event-overlay{
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.288);
  z-index: 9;
}

.event-list {

  li:first-child{
    .day-count{
      margin-top: 0px;
    }
  }

  /deep/ .common-list {
    margin-top: 0;

    .list-ctn {
      width: 100%;
      max-width: 100%;
      flex-basis: 100%;

      .list-container {
        background: none;
        border: none;
      }
    }
  }
}

.add-event-ctn{
  display: flex;
  position: relative;
  z-index: 8;
  align-items: center;
  cursor: pointer;
}

.add-icon{
  font-size: 24px;
  background: #666;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-label{
  margin-left: 16px;
}

.new-day, .new-event {
}

.vertical-line{
  height: 100%;
  border-left: 1px dashed #ccc;
  width: 1px;
  position: absolute;
  top: 0;
  left: 15px;
}

.event-cluster {
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.5);
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  background: #fff;
  position: relative;
  display: flex;
  transition: box-shadow 0.2s ease-in-out;

  .menu {
    position: absolute;
    right: -4px;
    top: 6;
  }

  .summary-ctn {
    flex: 1 0 calc(100% - 92px);
  }

  .icon-ctn {
    width: 72px;
    margin-right: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;

    [class^="tg-icon-"] {
      font-size: 34px;
      color: #666;
      margin-bottom: 4px;
      height: 36px;
    }

    .add-icon {
      font-size: 34px;
      height: 40px;
      width: 40px;
      border: 3px solid #666;
      border-radius: 40px;
      text-align: center;
      margin: 0 auto;
      padding-top: 7px;
      box-sizing: border-box;
      font-weight: 300;
      color: #666;
      cursor: pointer;
    }

    .bottom-text {
      align-self: flex-end;
      width: 100%;
    }

    .large-text {
      height: 12px;
    }

    .text {
      font-size: 18px;
      color: #7E848C;
      font-weight: 500;
      line-height: 14px;
    }

    .small-text {
      font-size: 12px;
      color: #7E848C;
      line-height: 12px;
    }
  }

  .divisor {
    position: absolute;
    height: 100%;
    width: 0;
    border-right: 1px dashed #ccc;
    top: 0;
    left: 88px;
  }

  h5 {
    color: $secondary-color;
    margin-bottom: 4px;
    font-size: 15px;
  }

  p {
    color: $gray-body;
    line-height: 16px;
    margin-bottom: 0;
  }

  .extra-info {
    margin-bottom: 0;
  }
}


