<div class="box-container">
  <div class="status-header">
    <div class="icon-ctn draft">
      <mat-icon>edit</mat-icon>
    </div>
    <h1>Estado borrador</h1>
  </div>
  <p>
    El viaje se encuentra en borrador. Puedes ver el itinerario haciendo click en <a href="https://app.v2.taylorgps.com/trips/{{booking._id}}-{{booking.name}}?status=draft" target="_blank">https://app.v2.taylorgps.com/trips/{{booking._id}}-{{booking.name}}?status=draft</a>, pero tus clientes no podrán acceder hasta que publiques el viaje.
    Para publicar el viaje haz click en el boton <i>"publicar viaje"</i>
  </p>
</div>
