@import "../../../../assets/variables";
.icon-ctn{
  border-radius: 40px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgba(0,0,0,0.54);

  &.DRAFT{
    background: #ffe000;
  }

  &.PUBLISHED{
    background: #54bf39;
  }

  &.CANCELED{
    background: #f44336;
  }
}

.status-header{
  display: flex;
  color: $gray-title;
  align-items: center;
  margin-bottom: 24px;

  h1{
    margin: 0 0 0 16px;
  }
}

p{
  color: $gray-body;
}

.box-container{
  background: white;
  padding: 34px 16px 16px;
  margin: 0 auto;
  min-height: 500px;
}
