<div class="location-desc" [formGroup]="placeForm">
  <h3>Description and coordinates</h3>

  <mat-form-field color="accent">
    <input #location type="text" matInput placeholder="Name" required [matAutocomplete]="autoGroup" (keyup)="search($event)" name="name" formControlName="name"/>
    <mat-icon matSuffix>search</mat-icon>
    <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)="onOptionSelected($event)" [displayWith]="displayFn">
      <mat-option *ngFor="let option of options | async" [value]="option">{{option.name}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field color="accent">
    <mat-select placeholder="Point Type" name="type" required formControlName="type">
      <mat-option value="culo">
        culo
      </mat-option>
    </mat-select>
    <mat-error *ngIf="placeForm.get('type').invalid && (placeForm.get('type').dirty || placeForm.get('type').touched)">Error</mat-error>
  </mat-form-field>

  <mat-form-field color="accent">
    <textarea matInput placeholder="Description" required name="description" formControlName="description"></textarea>
    <mat-error *ngIf="placeForm.get('description').invalid && (placeForm.get('description').dirty || placeForm.get('description').touched)">Error</mat-error>
  </mat-form-field>

</div>
