<div class="card-container" (click)="editBooking()">
  <div class="info-container">
    <div class="summarized-card-title">
      <h3>{{data.name}}</h3>
      <span>{{data.start_date | date: 'dd MMM yyyy'}} - {{data.end_date | date: 'dd MMM yyyy'}}</span>
    </div>
    <div class="summarized-card-body">
      <div class="client-box data-box">
        <span class="label">{{'Pasajero' | translate}}</span>
        <span class="value">{{data.passenger_name}}</span>
      </div>
      <div class="gps-box data-box">
        <span class="label">GPS</span>
        <span class="value">{{data.gps_device ? 'Si' : 'No'}}</span>
      </div>
      <div class="status-box data-box">
        <span class="label">{{'Estado' | translate}}</span>
        <span class="value">{{status | translate}}</span>
      </div>
      <br>
      <div class="account-box data-box">
        <span class="label">{{'Cuenta' | translate}}</span>
        <span class="value">{{ data.accountData ? data.accountData.name : 'N/A' | translate}}</span>
      </div>
      <div class="reference-box data-box">
        <span class="label">{{'Referencia' | translate}}</span>
        <span class="value">{{data.booking_reference | translate}}</span>
      </div>
    </div>
    <hr class="separation-bar"/>
    <div class="created-box data-box">
      <span class="label">{{'Creado por' | translate}}</span>
      <span class="value">{{data.created_by | translate}}</span>
    </div>
  </div>
  <mat-icon color="accent">navigate_next</mat-icon>
</div>
