@import '../../../../assets/variables';


.card-container {
  display: flex;
  padding: 16px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;

  &:hover{
    background: #e8e8e8;
  }

  .info-container {
    width: 100%;

    .summarized-card-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;

      h3{
        margin-bottom: 0px;
        color: $gray-title;
        line-height: 24px;
        font-size: 16px;
      }

      span{
        font-size: 12px;
        color: $gray-body;
      }

      a{
        color: $gray-caption;
        font-size: 14px;
        white-space: nowrap;
      }
    }

    .basic-value {
      .label{
        font-size: 12px;
        display: block;
        line-height: 12px;
        color: $gray-body;
      }

      .value{
        font-size: 14px;
        color: $gray-title;
      }
    }

    .summarized-card-body{
      @extend .basic-value;
      display: flex;

      .data-box{
        margin-right: 24px;
        width: 80px;

        &.client-box{
          width: 150px;
        }

        &:last-child{
          margin-right: 0;
        }
      }


    }

    .created-box {
      @extend .basic-value;
      .label{
        display: inline;
        margin-right: 12px;
      }
      float: right;
    }

    .separation-bar {
      border: 1px dotted #DEDEDE;
    }

    .draft {
      color: $gray-caption;
    }
    .canceled {
      color: red;
    }
    .published {
      color: #00a800;
    }
  }

  mat-icon{
    flex: auto;
    align-self: center;
    text-align: right;
    margin-right: -8px;
  }

}
