@import '../../assets/variables';

.top-header{

  @media only screen and (max-device-width: 736px) {
    top: 54px;
  }

  .app-container{
    display: flex;
    align-items: center;
    min-height: 640px;
  }
}

.empty-state{
  text-align: center;

  h2{
    color: $gray-title;
  }

  p{
    color: $gray-body;
    margin-bottom: 46px;
    font-size: 16px;
  }
}

