<app-detail-header *ngIf="!loading" [disableBackButton]="true"
                   [title]="'{trip length} trips encontrados' | translate: {value: paginationOptions.length}"
                   class="detail-header-content" navUrl="/trip-templates/new">
  <div class="button-container save-button">
    <button (click)="onButtonClick()">
      <mat-icon aria-label="New">add</mat-icon>
    </button>
  </div>
</app-detail-header>
<div class="app-container full-size body-content">

  <div [hidden]="loading">
    <app-common-list *ngIf="!loading"
                     [list]="tripTemplates$ | async"
                     [paginationMetadata]="metadata$ | async"
                     [component]="drawingComponent"
                     [storeToWatch]="'tripTemplates'"
                     (pageChanged)="onPageChanged($event)">

    </app-common-list>
  </div>
</div>
