<div class="places-filter-ctn" *ngIf="enabledIcons">
  <span class="filter-title">{{'Mostrar lugares cercanos a la ruta:' | translate}}</span>
  <ul class="place-types-icon-list">
    <li class="place-types-icon-ctn" *ngFor="let pType of pointTypes" [style.backgroundColor]="pType.enabled ? eventColors[pType.value] : '#fff'">
      <button mat-icon-button (click)="onSelectionChanged(pType.value)">
        <mat-icon [style.color]="!pType.enabled ? eventColors[pType.value] : '#fff'">{{pType.icon}}</mat-icon>
      </button>
    </li>
  </ul>
</div>
