.place-icon-img {
  height: 32px;
  width: 32px;
}

.place-icon-img-disabled {
  height: 32px;
  width: 32px;
  color: #7F848C;
}

.place-types-icon-ctn {
  display: inline;
  margin: 0 8px;
}

.place-types-icon-list {

}
