@import '../../../assets/variables';

.app-container{

}

form{
  background: white;
  margin-top: 74px;
  border: 1px solid #DEDEDE;
  margin-bottom: 24px;
}


.gallery-container{
  margin-top: 24px;
}


