@import '../../../assets/variables';

.body-content{

  @media only screen and (max-device-width: 736px) {
    margin-top: 0px;
  }
}

.top-header{
  z-index: 99;
  .app-container{
    display: flex;
    align-items: center;
    height: 100%;

    mat-icon{
      color: white;
      margin-right: 24px;
      display: none;

      @media only screen and (max-device-width: 736px) {
        display: block;
      }
    }
  }
}

.box-container{
  background: white;
  margin-top: 74px;
  border: 1px solid #DEDEDE;
  margin-bottom: 24px;
}

.more-options{
  margin-left: 16px;
  margin-right: -16px;
  mat-icon{
    color: white;
  }
}

mat-form-field{
  width: 100%;
}

.header-ctn{
  padding-bottom: 16px;
  border-bottom: 1px solid $gray-line;
  margin-bottom: 24px;

  p{
    color: $gray-body;
  }
}

.gallery-container{
  margin-top: 24px;
}


