@import '../../../assets/variables';


.main-container{
  display: flex;
  background: #fff;

  .sidebar{
    padding-top: 38px;
    flex: 0 0 200px;
    max-width: 200px;
    border-right: 1px solid $gray-line;

    @media only screen and (max-device-width: 736px) {
      display: none;
    }

    li{
      padding: 16px;
      font-size: 16px;
      color: $gray-title;
      cursor: pointer;
      height: 20px;

      button{
        padding: 0;
        text-align: left;
        min-width: auto;
        line-height: 18px;
      }
      &.current, &:hover{
        button{
          border-bottom: 2px solid $primary-color;
        }
      }
    }
  }
  .content{
    flex: 1 1 auto;
  }
}

.body-content{

  @media only screen and (max-device-width: 736px) {
    margin-top: 0px;
  }
}

.top-header{
  z-index: 99;
  .app-container{
    display: flex;
    align-items: center;
    height: 100%;

    mat-icon{
      color: white;
      margin-right: 24px;
      display: none;

      @media only screen and (max-device-width: 736px) {
        display: block;
      }
    }
  }
}

.box-container{
  padding: 16px;
}



.head-container, .map-container, .gallery-container{

  h3{
    margin-top: 38px;
    color: $gray-title;
    font-size: 24px;
  }

  .button-ctn{
    display: flex;
    justify-content: flex-end;
    padding: 16px;

    button{
      margin-left: 16px;
    }
  }
}

.more-options{
  margin-left: 16px;
  margin-right: -16px;
  mat-icon{
    color: white;
  }
}

mat-form-field{
  width: 100%;
}

.header-ctn{
  padding: 16px;
  margin-top: 32px;

  p{
    color: $gray-body;
  }
}



