mat-form-field{
  width: 100%;
}


.ttk-content{
  margin-bottom: 24px;
}

p{
  color: #424242;
}

.button-ctn{
  text-align: center;
}

.link{
  color: #1a0dab;
  cursor: pointer;
}

.add-more-ctn{
  display: flex;
  align-items: center;
  color: #999;

  a{
    cursor: pointer;
  }
}
