
<form [formGroup]="form" novalidate>
  <app-detail-header
    [title]="'Editar Dispositivo' | translate"
    class="detail-header-content"
    (backButtonClicked)="goBack()">

    <div class="more-options">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" overlapTrigger="false">
        <button mat-menu-item (click)="deleteDevice()">Eliminar</button>
      </mat-menu>
    </div>

    <div class="button-container save-button">
      <button (click)="onSubmit()">
        <mat-icon aria-label="New">save</mat-icon>
      </button>
      <span class="save-label">{{'Guardar y cerrar' | translate}}</span>
    </div>
  </app-detail-header>
  <div class="app-container full-size body-content">
    <div class="box-container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">

          <mat-form-field color="accent">
            <input type="text" #name matInput placeholder="{{'Nombre' | translate}}" name="name" formControlName="name" required/>
            <mat-error *ngIf="form.get('name').invalid && (form.get('name').dirty || form.get('name').touched)">{{'Campo requerido' | translate}}</mat-error>
          </mat-form-field>

          <mat-form-field color="accent">
            <input type="text" #name matInput placeholder="{{'Número de serie' | translate}}" name="serial_number" formControlName="serial_number"/>
          </mat-form-field>

        </div>
      </div>
    </div>
  </div>
</form>
