<div>
  <app-add-event [ordinal]="data.index" [day]="day"></app-add-event>
</div>
<div class="event-cluster">
  <div class="icon-ctn">
    <mat-icon fontSet="tg">driving</mat-icon>
    <div class="bottom-text">
      <span class="small-text">driving</span>
    </div>
  </div>
  <div class="divisor"></div>
  <div class="summary-ctn">
    <h5>{{data.name}}</h5>
    <p>{{data.description}}</p>
  </div>
  <div class="menu">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </div>
</div>
