@import '../../../../../assets/variables';

.event-cluster{
  box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.5);
  padding: 16px 8px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  background: #fff;
  position: relative;
  display: flex;
  transition: box-shadow 0.2s ease-in-out;
  margin-bottom: 8px;

  .menu{
    position: absolute;
    right: -4px;
    top: 0;
  }

  .icon-ctn{
    width: 72px;
    margin-right: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: center;

    mat-icon{
      color: $gray-body;
      height: 40px;
      width: 40px;
      font-size: 34px;
    }

    .bottom-text{
      align-self: flex-end;
      width: 100%;
    }

    .text{
      font-size: 18px;
      color: #7E848C;
      font-weight: 500;
    }

    .small-text{
      font-size: 12px;
      color: $gray-body;
    }
  }

  .divisor{
    position: absolute;
    height: 100%;
    width: 0;
    border-right: 1px dashed #ccc;
    top: 0;
    left: 88px;
  }

  h5{
    color: $secondary-color;
    margin-bottom: 0;
    font-size: 15px;
  }

  p{
    color: $gray-body;
    margin-bottom: 0;
  }

}

