@import '../../../../../assets/variables';



.event-cluster{
  padding: 16px 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  position: relative;
  display: flex;
  transition: all .3s ease-in-out;

  &.edit-mode{
    align-items: center;
    padding: 0;

    .summary-ctn{
      p{
        height: 0px;
        overflow: hidden;
      }
    }
    .menu{
      display: none;
    }
  }

  .menu{
    position: absolute;
    right: -14px;
    top: 6px;
  }

  .icon-ctn{
    width: 30px;
    height: 30px;
    border: 1px solid #999;
    margin-right: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: center;
    border-radius: 40px;
    background: #fff;

    mat-icon{
      color: $gray-body;
      height: 40px;
      width: 40px;
      font-size: 17px;
    }

    .bottom-text{
      align-self: flex-end;
      width: 100%;
    }

    .text{
      font-size: 18px;
      color: #7E848C;
      font-weight: 500;
    }

    .small-text{
      font-size: 12px;
      color: $gray-body;
    }
  }

  .divisor{
    position: absolute;
    height: 100%;
    width: 0;
    border-right: 1px dashed #ccc;
    top: 0;
    left: 88px;
  }

  h5{
    color: $secondary-color;
    margin-bottom: 0;
    font-size: 15px;
  }

  p{
    color: $gray-body;
    margin-bottom: 0;
    transition: height 0.2s ease;
  }

}

