@import '../../../../assets/variables';

.body-content{
  @media only screen and (max-device-width: 736px) {
    margin-top: -116px;
  }
}

.card-container {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: white;
  padding: 8px;
  cursor: pointer;
  .image-container {
    width: 64px;
    padding: 8px 12px;
    .point-thumbnail {
      max-width: 48px;
    }
  }
  .info-container {
    padding: 16px 8px;
    border-bottom: #cccccc 1px solid;
    width: 100%;
    .summarized-card-title {
      margin-bottom: 8px;
    }
    .summarized-card-subtitle {
      margin: 2px 0;
    }
  }

}
