@import "../../../../assets/variables";

.box-container{
  background: white;
  border: 1px solid #DEDEDE;
  padding: 16px;
}

.template-header{
  max-width: 1024px;
  margin: 0 auto -40px;
  padding: 0 16px;
  box-sizing: border-box;

  @media only screen and (max-width: 736px) {
    margin-bottom: 8px;
    padding: 0;
  }
}

mat-form-field{
  width: 100%;
}

.mat-flat-button{
  margin-left: 16px;
  flex: 1 0 auto;
}

.add-template-button{
  display: flex;
  align-items: baseline;
}

.templates-search{
  display: flex;
  align-items: center;
  p{
    color: $gray-body;
    margin-bottom: 0;
  }
}

