@import "../../../../assets/variables";

.box-container{
  background: white;
  padding: 34px;
}

.template-header{
  padding: 0 16px;

  @media only screen and (max-width: 736px) {
    margin-bottom: 8px;
    padding: 0;
  }
}

mat-form-field{
  width: 100%;
}

.mat-flat-button{
  margin-left: 16px;
  flex: 1 0 auto;
}

.add-template-button{
  display: flex;
  align-items: baseline;
}

.templates-search{
  display: flex;
  align-items: center;
  p{
    color: $gray-body;
    margin-bottom: 0;
  }
}

