<form [formGroup]="formItinerary" #formDir="ngForm"  novalidate>
  <div class="row templates-search">
    <div class="col-xs-12 col-sm-4">
      <div class="add-template-button">
        <mat-form-field color="accent" >
          <input type="text" matInput placeholder="{{'Ingresa el nombre del template' | translate}}"
                 (keyup)="search($event)" [matAutocomplete]="autoGroup"/>
          <mat-icon matSuffix>search</mat-icon>
          <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)="optionSelected($event)" [displayWith]="displayFn">
            <mat-option *ngFor="let option of options | async" [value]="option">{{option.name}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div>
          <button mat-flat-button color="accent"
                  [disabled]="selectedTripTemplate === null" (click)="addTemplate()"
                  [matTooltip]="'Importar templates para ahorrar tiempo y trabajo. Los templates se agregaran a continuación del último día.' | translate"
                  matTooltipPosition="after">{{'Importar' | translate}}</button>
        </div>
      </div>
    </div>
  </div>


  <app-trip-template-detail [fromBooking]="true"
                            [templateToImport]="confirmedTemplate"
                            [fillDays]="daysToFill"
                            [form]="formItinerary"
                            (templateUpdated)="onTemplateUpdated($event)"></app-trip-template-detail>
</form>
