@import '../../../../assets/variables';

.image{
  background: no-repeat scroll center transparent;
  background-size: contain;
  height: 200px;
  width: 200px;
}

.link{
  color: $link-color;
  cursor: pointer;
  float: left;
  margin-top: 8px;
}

.format-message{
  margin-top: 8px;
  color: $gray-body;
  text-align: center;
}
