<form [formGroup]="form" #formDir="ngForm" novalidate>
  <app-detail-header title="New trip template"
                     (backButtonClicked)="goBack()">
    <div class="button-container save-button">
      <button (click)="saveTripTemplate()">
        <mat-icon aria-label="New">save</mat-icon>
      </button>
    </div>
  </app-detail-header>
  <div class="app-container full-size body-content">
    <div class="box-container">
      <app-trip-template-detail-header [form]="form" (settingName)="setName($event)"
                                       (settingDescription)="setDescription($event)"></app-trip-template-detail-header>
      <div class="row ">
        <div class="col-sm-5 col-xs-12">
          <h3>Itinerary</h3>
          <div>
            <app-trip-template-itinerary [itinerary]="form.get('itinerary')"></app-trip-template-itinerary>
          </div>
        </div>
        <div class="col-sm-7 col-xs-12">
          <h3>Maps</h3>
          <div>
            <app-trip-template-map></app-trip-template-map>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>


