<div class="map-container" [formGroup]="placeForm" >
  <div class="row">
    <mat-form-field class="col-sm-6 col-xs-12" color="accent" formGroupName="geo">
      <input #location type="text"
             matInput
             placeholder="Ingresa las coordenadas o busca en el mapa"
             name="label" formControlName="label"
             (keyup)="onChangeCoords($event)"
      />
    </mat-form-field>
    <mat-form-field class="col-sm-6 col-xs-12" color="accent" formGroupName="geo">
      <input #address type="text"
             matInput
             placeholder="Ingresa la direccion o busca en el mapa"
             name="address" formControlName="address"
             (keyup)="onChangeAddress($event)"
      />
    </mat-form-field>
  </div>
  <div #gmap style="width:100%; height:240px"></div>
</div>
