<h3>Route data</h3>
<div [formGroup]="form">
  <mat-form-field color="accent">
    <input type="text" matInput placeholder="{{'Nombre de la ruta' | translate}}" name="name" formControlName="name"/>
    <mat-hint align="start">{{'El nombre es generado automaticamente' | translate}}</mat-hint>
  </mat-form-field>

  <mat-form-field color="accent">
    <input type="text" matInput placeholder="{{'Via (opcional)' | translate}}" name="via" formControlName="via"/>
  </mat-form-field>

  <mat-form-field color="accent" class="route-type">
    <mat-select placeholder="{{'Tipo de ruta' | translate}}" required name="route_type" formControlName="route_type">
      <mat-option *ngFor="let routeType of routeTypes" [value]="routeType.value">
        {{routeType.value | translate}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('route_type').invalid && (form.get('route_type').dirty || form.get('route_type').touched)">{{'Campo requerido' | translate}}</mat-error>
  </mat-form-field>

  <mat-form-field color="accent" class="road-surface">
    <mat-select placeholder="{{'Tipo de superficie' | translate}}" required name="road_surface" formControlName="road_surface">
      <mat-option *ngFor="let roadSurface of roadSurfaces" [value]="roadSurface.value">
        {{roadSurface.value | translate}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('road_surface').invalid && (form.get('road_surface').dirty || form.get('road_surface').touched)">{{'Campo requerido' | translate}}</mat-error>
  </mat-form-field>

  <mat-tab-group *ngIf="tabController && availableLanguages" formGroupName="description" class="col-xs-12">
    <mat-tab *ngFor="let lang of getLanguages()">
      <ng-template mat-tab-label>
        {{lang | translate | uppercase }}
      </ng-template>
      <mat-form-field color="accent">
        <textarea matInput placeholder="{{'Ingresa una descripción del lugar' | translate}}" name="{{lang}}" formControlName="{{lang}}" maxlength="1000">
          {{placeForm.value.description[lang] ? placeForm.value.description[lang].text : ''}}
        </textarea>
        <mat-hint align="start">Agrega todos los idiomas que desees personalizar. No te preocupes por los otros, nosotros nos encargamos de traducirlos por ti</mat-hint>
        <mat-hint align="end" class="count">{{placeForm.value.description[lang] ? placeForm.value.description[lang].length : 0}} / 1000</mat-hint>
      </mat-form-field>
    </mat-tab>
    <mat-tab [disabled]="!placeForm.value.description[defaultLanguage]" *ngIf="availableLanguages.length > 0">
      <ng-template mat-tab-label>
        <button [disabled]="!placeForm.value.description[defaultLanguage]" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>add</mat-icon>
        </button>
      </ng-template>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let lng of availableLanguages" (click)="getTranslation(lng)">{{lng | translate}}</button>
      </mat-menu>
    </mat-tab>
  </mat-tab-group>
</div>
