<div [formGroup]="form">
  <mat-form-field color="accent">
    <input type="text" matInput placeholder="{{'Nombre de la ruta' | translate}}" name="name" formControlName="name"/>
    <mat-hint align="start">{{'El nombre es generado automaticamente' | translate}}</mat-hint>
  </mat-form-field>

  <mat-form-field color="accent">
    <input type="text" matInput placeholder="{{'Vía (opcional)' | translate}}" name="via" formControlName="via"/>
    <mat-error hidden="{{form.get('via').valid}}">{{'Ruta existente. Ingresa la vía para diferenciar las rutas' | translate}}</mat-error>
  </mat-form-field>

  <mat-form-field color="accent" class="route-type">
    <mat-select placeholder="{{'Tipo de ruta' | translate}}" required name="route_type" formControlName="route_type">
      <mat-option *ngFor="let routeType of routeTypes" [value]="routeType.value" [disabled]="!routeType.enabled" (onSelectionChange)="optionChanged($event)">
        {{routeType.value | translate}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('route_type').invalid && (form.get('route_type').dirty || form.get('route_type').touched)">{{'Campo requerido' | translate}}</mat-error>
  </mat-form-field>

  <mat-form-field color="accent" class="road-surface">
    <mat-select placeholder="{{'Tipo de superficie' | translate}}" required name="road_surface" formControlName="road_surface">
      <mat-option *ngFor="let roadSurface of roadSurfaces" [value]="roadSurface.value" >
        {{roadSurface.value | translate}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('road_surface').invalid && (form.get('road_surface').dirty || form.get('road_surface').touched)">{{'Campo requerido' | translate}}</mat-error>
  </mat-form-field>

  <mat-form-field color="accent">
    <textarea matInput placeholder="{{'Descripción' | translate}}" name="description"
              formControlName="description"
              cdkAutosizeMinRows="6"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"></textarea>
    <mat-error *ngIf="form.get('description').invalid && (form.get('description').dirty || form.get('description').touched)">{{'Campo requerido' | translate}}</mat-error>
  </mat-form-field>
</div>
