<app-detail-header [disableBackButton]="true"
                   [title]="'{booking_count} reservas encontradas' | translate: {booking_count: totalElements}"
                   class="detail-header-content" navUrl="/booking/new">
  <div class="button-container save-button">
    <button (click)="onButtonClick()">
      <mat-icon aria-label="New">add</mat-icon>
    </button>
  </div>
</app-detail-header>
<div class="app-container full-size body-content">

  <div [hidden]="loading">
    <app-common-list *ngIf="!loading"
                     [list]="bookings$ | async"
                     [component]="drawingComponent"
                     [paginationMetadata]="metadata$ | async"
                     [activateSelectionMode]="isDialog"
                     [storeToWatch]="'booking'"
                     (pageChanged)="onPageChanged($event)">
    <app-booking-filters class="common-list-filters"
                         [myBookingFilter]="paginationOptions.self"
                         (filterChanged)="onFilterChanged($event)"
                         (selfToggleChanged)="onSelfToggle($event)">
    </app-booking-filters>
      <div class="empty-state col-xs-12 col-sm-6 col-sm-offset-3">
        <h2>Aun no has creado reservas!!!</h2>
        <p></p>
        <button mat-flat-button color="accent" (click)="onButtonClick()">Crear nueva reserva</button>
      </div>

    </app-common-list>
  </div>
</div>
