@import "../../../assets/variables";

/deep/.mat-horizontal-stepper-header-container{
  max-width: 1024px;
  margin: 34px auto 0;
  padding: 0 16px;
  box-sizing: border-box;
}

/deep/.mat-horizontal-content-container{
  padding: 0 0 24px !important;
}

.app-container{
  margin-top: 24px;
}

mat-horizontal-stepper{
  background-color: transparent;
}

.save{
  margin-left: 16px;
}


