<app-detail-header title="{{booking._id ? 'Reserva ' + booking.name : 'Nueva Reserva'}}"
                   (backButtonClicked)="goBack()">
  <div class="more-options">
    <button mat-icon-button [matMenuTriggerFor]="menu" >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" overlapTrigger="false">
      <button mat-menu-item (click)="exportFile('gpx')">Exportar GPX</button>
      <button mat-menu-item (click)="exportFile('pdf')">Exportar PDF</button>
    </mat-menu>
  </div>
  <div class="button-container save-button">
    <button (click)="saveBooking()">
      <mat-icon aria-label="New">save</mat-icon>
    </button>
  </div>
</app-detail-header>
<div>
  <mat-horizontal-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="formHeader">
      <ng-template matStepLabel>Datos de la reserva</ng-template>
      <form [formGroup]="formHeader" class="app-container full-size body-content" novalidate>
        <app-booking-detail-header [form]="formHeader"></app-booking-detail-header>
        <div class="buttons-ctn">
          <button mat-button matStepperNext color="accent">CONTINUAR</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="formItinerary">
      <form [formGroup]="formItinerary" novalidate>
        <ng-template matStepLabel>Agrega rutas y servicios</ng-template>
        <app-booking-detail-itinerary [formItinerary]="formItinerary" (templateUpdated)="updateItinerary($event)"></app-booking-detail-itinerary>
        <div class="buttons-ctn itinerary-step">
          <button mat-button matStepperPrevious color="accent">ATRAS</button>
          <button mat-button matStepperNext color="accent">CONTINUAR</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Publicar reserva</ng-template>
      <div class="app-container full-size body-content">
        <app-booking-detail-status [booking]="booking"></app-booking-detail-status>
        <div class="buttons-ctn status-step">
          <button mat-button matStepperPrevious color="accent">ATRAS</button>
          <button *ngIf="!booking.status || (booking.status && booking.status === 2)" (click)="publishBooking(statusType.PUBLISHED)" mat-button color="primary">PUBLICAR RESERVA</button>
          <button *ngIf="booking.status && booking.status === 1" (click)="publishBooking(statusType.CANCELED)" mat-button color="primary">CANCELAR RESERVA</button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>

