<app-detail-header title="{{'Nuevo template'}}"
                   (backButtonClicked)="goBack()">
  <div class="button-container save-button">
    <button (click)="saveBooking()">
      <mat-icon aria-label="New">save</mat-icon>
    </button>
  </div>
</app-detail-header>
<div class="app-container full-size body-content">
  <mat-horizontal-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="formHeader">
      <form [formGroup]="formHeader">
        <ng-template matStepLabel>Datos de la reserva</ng-template>
        <app-booking-detail-header [form]="formHeader"></app-booking-detail-header>
        <div class="buttons-ctn">
          <button mat-button matStepperNext color="accent">CONTINUAR</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="formItinerary">
      <form [formGroup]="formItinerary">
        <ng-template matStepLabel>Agrega rutas y servicios</ng-template>
        <app-booking-detail-itinerary></app-booking-detail-itinerary>
        <div class="buttons-ctn">
          <button mat-button matStepperPrevious color="accent">ATRAS</button>
          <button mat-button matStepperNext color="accent">CONTINUAR</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Listo, ya casi terminamos</ng-template>
      <app-booking-detail-status></app-booking-detail-status>
      <div class="buttons-ctn status-step">
        <button mat-button matStepperPrevious color="accent">ATRAS</button>
        <button mat-button color="primary">PUBLICAR VIAJE</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>

