<app-detail-header title="{{booking._id ? 'Reserva ' + booking.name : 'Nueva Reserva'}}" (backButtonClicked)="goBack()" class="detail-header-content">
  <div class="more-options hidden-desktop">
    <button mat-icon-button [matMenuTriggerFor]="menu" >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" overlapTrigger="false">
      <button mat-menu-item (click)="exportFile('gpx')">Exportar GPX</button>
      <button mat-menu-item (click)="exportFile('pdf')">Exportar PDF</button>
      <button mat-menu-item (click)="saveBooking()">Guardar</button>
    </mat-menu>
  </div>

  <div class="buttons-ctn hidden-mobile">
    <button (click)="exportFile('gpx')" mat-button color="accent">Exportar GPX</button>
    <button (click)="exportFile('pdf')" mat-button color="accent">Exportar PDF</button>
    <button (click)="saveBooking()" mat-flat-button color="accent">Guardar</button>
  </div>
</app-detail-header>

<div class="main-container">
  <section class="sidebar">
    <ul>
      <li [class.current]="!stepper.header"><button mat-button (click)="setStep('header')">{{'Acerca de la reserva' | translate}}</button></li>
      <li [class.current]="!stepper.itinerary" >
        <button mat-button (click)="setStep('itinerary')" [disabled]="formHeader.invalid">{{'Itinerario' | translate}}</button>
      </li>
      <li [class.current]="!stepper.publish">
        <button mat-button (click)="setStep('publish')" [disabled]="formHeader.invalid">{{'Publicar reserva' | translate}}</button>
      </li>
    </ul>
  </section>
  <section class="content">
    <ul class="stepper">

      <li class="step-item location" [hidden]="stepper.header">
        <h1>{{'Acerca de la reserva' | translate}}</h1>
        <form [formGroup]="formHeader" class="" novalidate>
          <app-booking-detail-header [form]="formHeader"></app-booking-detail-header>
          <div class="buttons-ctn">
            <button mat-flat-button color="primary" (click)="setStep('itinerary')" [disabled]="formHeader.invalid">Siguiente</button>
          </div>
        </form>
      </li>

      <li class="step-item description" *ngIf="!stepper.itinerary">
        <form [formGroup]="formItinerary" novalidate>
          <ng-template matStepLabel>Agrega rutas y servicios</ng-template>
          <app-booking-detail-itinerary [formItinerary]="formItinerary"
                                        [bookingStartDate]="booking.startDate"
                                        (templateUpdated)="updateItinerary($event)">
          </app-booking-detail-itinerary>
          <div class="buttons-ctn">
            <button mat-flat-button color="primary" (click)="setStep('header')">Anterior</button>
            <button mat-flat-button color="primary" (click)="setStep('publish')" [disabled]="formHeader.invalid">Siguiente</button>
          </div>
        </form>
      </li>

      <li class="step-item gallery" [hidden]="stepper.publish">
        <app-booking-detail-status [booking]="booking"></app-booking-detail-status>
        <div class="buttons-ctn">
          <button mat-flat-button color="primary" (click)="setStep('itinerary')">Anterior</button>
          <button *ngIf="!booking.status || (booking.status && booking.status === 2)" (click)="publishBooking(statusType.PUBLISHED)" mat-flat-button color="primary">Publicar reserva</button>
          <button *ngIf="booking.status && booking.status === 1" (click)="publishBooking(statusType.CANCELED)" mat-flat-button color="primary">Cancelar reserva</button>
        </div>
      </li>
    </ul>

  </section>
</div>

