<app-header></app-header>
<div class="top-header">
  <div class="app-container">
    <h1>Nuevo punto</h1>
  </div>
</div>
<div class="app-container full-size">
  <form [formGroup]="placeForm" #formDir="ngForm" class="box-container" (ngSubmit)="onSubmit()" novalidate>
    <div class="save-button">
      <button mat-fab>
        <mat-icon aria-label="Save and exit">save</mat-icon>
      </button>
      <span>Save and close</span>
    </div>
    <div class="row">
      <app-point-head class="col-sm-4 col-xs-12" [headGroup]="placeForm" (optionSelected)="onOptionSelected($event)"></app-point-head>

      <app-point-map class="col-sm-8 col-xs-12" [mapGroup]="placeForm"></app-point-map>
    </div>

    <div class="row gallery-container">
      <div class="col-xs-12">
        <h3>Gallery</h3>
        <app-uploader (filesLoaded)="onFilesLoaded($event)" mode="DRAG_DROP" [group]="placeForm" *ngIf="previewImages.length == 0"></app-uploader>
        <div class="preview-content" *ngIf="previewImages.length > 0">
          <ul>
            <li>
              <app-uploader (filesLoaded)="onFilesLoaded($event)" mode="BOX" [group]="placeForm" *ngIf="previewImages.length > 0"></app-uploader>
            </li>
            <li *ngFor="let image of previewImages; let i = index;">
              <div class="close">
                <mat-icon [matMenuTriggerFor]="menu" color="accent">more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <span>Set as default</span>
                  </button>
                  <button mat-menu-item (click)="deleteItem('preview',i)">
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </div>
              <div class="image" [style.background-image]="'url('+image.preview+')'"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>

