@import "../../../assets/variables";

.point-filter-container {
  height: 100%;
  mat-form-field {
    width: 100%;
  }
}

.delete-near {
  cursor: pointer;
}

.buttons-ctn {
  margin: 32px 16px;
}

mat-checkbox{
  color: $gray-title;
}
