<div class="point-filter-container" >
  <mat-form-field color="accent">
    <input #location
           type="text" matInput placeholder="{{'Buscar' | translate}}" required [value]="filterOptions.search !== undefined ? filterOptions.search : ''"
           name="name" [matAutocomplete]="autoGroup" (keyup.enter)="onSearchChanged(location.value)" (blur)="onSearchChanged(location.value)"/>
    <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)="onSearchChanged($event)" [displayWith]="displayFn">
      <mat-optgroup *ngFor="let group of options" [label]="group.type | translate">
        <mat-option *ngFor="let option of group.points" [value]="option">{{option.name}}</mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
  <ul>
    <li *ngFor="let pointType of pointTypes">
      <mat-checkbox [(ngModel)]="pointType.enabled">
        {{pointType.viewValue | translate}}
      </mat-checkbox>
    </li>
  </ul>

  <div class="buttons-ctn">
    <button mat-flat-button color="primary" (click)="onResetFilter()">{{'Borrar Filtro' | translate}}</button>
    <button mat-flat-button color="primary" (click)="onFilterApply()">{{'Aplicar Filtro' | translate}}</button>
  </div>
</div>
