
<div class="top-header">
  <div class="app-container">
    <h1>{{'Nuevo programa' | translate}}</h1>
  </div>
</div>
<div class="app-container full-size">
  <form [formGroup]="form" #formDir="ngForm" class="box-container" (ngSubmit)="onSubmit()" novalidate>
    <div class="save-button">
      <button mat-fab>
        <mat-icon aria-label="Save and exit">save</mat-icon>
      </button>
      <span class="save-exit-label">Save and close</span>
    </div>

    <div class="row gallery-container">
      <div class="col-xs-12">
        <div>
          <h3>Route Points</h3>
          <div class="row">
            <div class="col-sm-4">
              <app-segment-list></app-segment-list>
            </div>
            <div class="col-sm-8">
              map
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>


